<!-- pauls
# show metadata for an order;
# this will be for user's own records
# recommend that they snapshot this for starters


-->



<h1> save this for your own records. </h1>
<h2>Snapshot this or send it to yourself as a receipt</h2>

<p>
  <strong>Message:</strong>
  <%= @prank.message %>
</p>

<p>
  <strong>Addres 1:</strong>
  <%= @prank.street_address_1 %>
</p>

<%= link_to 'Back', pranks_path %>
